/*Header*/    
    nav ul li a {
        transition: color 0.3s; 
        position: relative;
    }
    nav ul li a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: var(--accent-color);
        bottom: 0px;
        left: 0;
        transition: width 0.3s;
    }

    nav ul li a:hover::after {
        width: 100%;
    }
    #logo {
        margin: 0px !important;
        background: linear-gradient(to right, var(--secondary-color), var(--bs-black));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
/*Header*/