@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500; 
}
:root {
    --primary-color: #5d4954;       /* Cor primária (roxo escuro) */
    --secondary-color: #9a7b7b;     /* Cor secundária (rosa acinzentado) */
    --accent-color: #c8a797;        /* Cor de destaque (bege rosado) */
    --light-color: #f5f0e8;         /* Cor clara de fundo (bege claro) */
    --dark-color: #3a2e32;          /* Cor escura para textos */
    --text-color: #333333;          /* Cor principal para textos */
    --text-light: #777777;          /* Cor clara para textos secundários */
}